@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-uppercase text-dark mb-lg-4"><span style="color:white;">Pet Reh</span>ome</h1>
                <h1 class="text-uppercase text-white mb-lg-4">Find a pet</h1>
                <p class="fs-4 text-white mb-lg-4" style="text-shadow: 2px 2px 5px rgba(0,0,0,0.8), 0px 0px 2px  rgba(0,0,0,1);"><b>Welcome to PetRehome</b>, where finding your new furry family member is just a click away! Our mission is to connect loving homes with pets in need, offering an easy and caring adoption process. Whether you're looking for a playful puppy, a loyal dog, a curious kitten, or a gentle cat, we have the perfect companion waiting for you. Start your journey with us today and give a pet the forever home they deserve!</p>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5" style="text-shadow: 2px 2px 5px rgba(0,0,0,0.8), 0px 0px 2px  rgba(0,0,0,1);">
                    <a href="" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Find a pet</a>
                </div>
            </div>
        </div>
    </div>
</div>
