@{
    ViewData["Title"] = "Access Denied Page";
}

<div class="container-fluid pt-5">
    <div class="container" style="height:350px">
        <h2 class="text-primary text-uppercase text-center">Access Denied</h2>
        <br>
        <h3 class="text-primary text-uppercase text-center">You do not have necessary privilege to access this resource!<br/>Please contact the site adminstartor.</h3>
    </div>
</div>