@model ErrorViewModel
@{
    ViewData["Title"] = "Error Page";
}

<div class="container-fluid pt-5">
    <div class="container" style="height:350px">
        @if(Model.StatusCode != 404)
        {
            <h2 class="text-primary text-uppercase text-center">Path not found!</h2>
            <h2 class="text-primary text-uppercase text-center">The resource you are trying doesn't exist.</h2>
            <br>
            <h3 class="text-primary text-uppercase text-center">Status Code: @Model.StatusCode</h3>
        }
        else
        {
            <h2 class="text-primary text-uppercase text-center">Unexpected server error has occurred!</h2>
            <br>
            <h3 class="text-primary text-uppercase text-center">Status Code: 500</h3>
        }
    </div>
</div>