@{
    ViewData["Title"] = "Adopter SignUp Page";
}
@model SignUpAdopterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container-fluid pt-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h2 class="text-primary text-uppercase">Adopter SignUp</h2>
        </div>
        <div class="row g-5">
            <div class="col-lg-7">
                <form method="post">
                    <div class="row g-3">
                        <div class="col-6">
                            <input type="text" asp-for="Firstname" class="form-control bg-light border-0 px-4" placeholder="First Name" style="height: 55px;">
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <input type="text" asp-for="Lastname" class="form-control bg-light border-0 px-4" placeholder="Last Name" style="height: 55px;">
                            <span asp-validation-for="Lastname" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <input type="text" asp-for="Username" class="form-control bg-light border-0 px-4" placeholder="Email" style="height: 55px;">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <input type="password" asp-for="Password" class="form-control bg-light border-0 px-4" placeholder="Password" style="height: 55px;">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <input type="text" asp-for="Address" class="form-control bg-light border-0 px-4" placeholder="Address" style="height: 55px;">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <input type="text" asp-for="City" class="form-control bg-light border-0 px-4" placeholder="City" style="height: 55px;">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            @Html.DropDownListFor(model => model.State, (List<SelectListItem>)ViewBag.States, "Select a state", new { @class = "form-control g-light border-0 px-4" })
                            <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        <div class="col-6">
                            <input type="text" asp-for="ZipCode" class="form-control bg-light border-0 px-4" placeholder="Zip Code" style="height: 55px;">
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <input type="text" asp-for="PhoneNumber" class="form-control bg-light border-0 px-4" placeholder="Phone Number" style="height: 55px;">
                        </div>
                        <div class="col-12">
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </<div>
    </div>
</div>